.App {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 20px;
}

.left {
  padding: 40px;
}

.select-date {
  position: relative;
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.select-date span {
  flex-grow: 20;
}

.select-date-picker {
  display: flex;
  width: fit-content;
  position: sticky;
  top: 100%;
  right: 0;
  background-color: white;
  z-index: 5;
  align-items: flex-end;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  align-self: center;
}